.container {
  padding: 5px 15px;

  .cartEmpty {
    height: 250px;
    padding-top: 80px;

    p {
      text-align: center;
    }

    .goToItems {
      padding: 10px 0;

      & > div {
        width: 100%;
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
        background-color: #111;
        color: #fff;
        border-radius: 3px;
        text-align: center;

        &:hover {
          opacity: .5;
          cursor: pointer;
        }
      }
    }
  }

  .title {
    padding: 10px 0;
    border-bottom: .5px solid #d5d5d3;

    & > span {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .cartItemList {
    padding: 20px 0;
    border-bottom: .5px solid #d5d5d3;
  }

  .amountArea {
    padding: 10px 0;
    font-size: 14px;
    border-bottom: .5px solid #d5d5d3;

    & > div {
      display: flex;
      justify-content: space-between;

      padding: 10px 0;
    }
  }

  .goToPurchaseFormButton {
    padding: 10px 0;

      & > div {
        width: 100%;
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
        background-color: #111;
        color: #fff;
        border-radius: 3px;
        text-align: center;

        &:hover {
          opacity: .5;
          cursor: pointer;
        }
      }
  }
}