.container {
  padding: 20px 0;

  h1 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  h3 {
    text-align: center;
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }

  section {
    padding: 20px 30px;
    
    & > div {
      text-align: center;
    }

    .contactPageLinkButton {
      width: 60%;
      height: 30px;
      line-height: 30px;
      margin: 0 auto;
      background-color: #111;
      color: #fff;
      border-radius: 3px;
      text-align: center;
      font-size: 14px;

      &:hover {
        opacity: .5;
        cursor: pointer;
      }
    }
  }
}