.container {
  .title > p {
    font-size: 20px;
  }
  .itemImage {
    position: relative;
    aspect-ratio: 3 / 4;
  
    img {
      object-fit: cover;
    }

    .noImage {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);

      p {
        font-size: 16px;
        color: #fff;
        font-weight: bold;
      }
    }
  }

  p {
    font-size: 12px;
  }
  .itemName {
    padding-top: 5px;
    font-weight: bold;
    font-size: 16px;
  }

  .count {
    padding-top: 2px;
  }

  .priceArea {
    padding-top: 5px;
  }
}
